<div class="route-containers">

  <div style='margin-top:-1em;font-family:Cantarell'>

    <p style='font-size:1.2em'>

      I originally entered school for business, but quickly became interested in the
      limitless potential a software engineer has at his or her disposal.
    </p><br>
    <p style='font-size:1.2em'>
      After playing with code for a while, I decided to learn more and pursue a CS degree.
      However, the slow teaching pace and small amount of exposure to larger projects
      at my school left me feeling like I was running in place.
    </p><br>
    <p style='font-size:1.2em'>
      Coming out to Colorado for an accelerated program at
      <a href="http://gschool.it" target='_blank'><img src="assets/images/gschool-logo.png" alt="gSchool" style='width:4em;margin-bottom:-.35em'/></a>
      has been much more satisfying and has me excited to hit the ground running.
    </p><br>
  </div>
</div>
