<div class="sidebar">
  <img src="assets/images/rsz_doug.jpg" alt="Doug"style='width:15em'/>
  <br>
  dben89x@gmail.com
  <br>
  4704 Edison Ln
  <br>
  Boulder CO 80301
  <br>
  (248) 877 - 1242
  <br><br>
</div>

<div class="other">

Background
<br>
I originally entered school for business, but quickly became interested in the
limitless potential a software engineer has at his or her disposal.
After playing with code for a while, I decided to learn more and pursue a CS degree.
However, the slow teaching pace and small amount of exposure to larger projects
at my school left me feeling like I was running in place.
Coming out to Colorado for an accelerated program at gSchool has been
much more satisfying and has me excited to hit the ground running.
<br><br>
Preferred work environment
<br>

My best work usually comes from working alone, though I'm fully capable of
working in a team environment. I learned valuable team lessons in from organizing
my Eagle Project in high school, and overseeing/leading a painting branch in
college. I've found that the most constructive teams are the ones with an
open-minded mentality and encourage free-flowing ideas.
I'd like to work with an organization that feels the same way.
</div>
