  <div class="navbars1" style='border-right:1px solid rgba(0, 160, 253,.1)'>
    <h1 style='font-family:fantasy;text-align:center;margin-bottom:0;padding-left:5%'>DOUG BENNETT</h1>
    <<h2 style='font-family:Orbitron;text-align:center;padding-left:5%'>Full Stack Developer</h2>
        <img src="assets/images/rsz_doug.jpg" alt="Doug"style='width:15em;margin-left:14%' class='pics'/>
      <br><br>

    <center style='margin-left:14%'>
      <a href="mailto:dben89x@gmail.com?Subject=I%20want%20to%20hire%20you"><img src="assets/images/email.png" style='width:3em;margin-right:10%'/></a>
      <a href="http://github.com/dben89x"target='_blank'><img src="assets/images/github.png" style='width:3em;margin-right:10%'/></a>
      <a href="http://linkedin.com/in/dougBennett1" target='_blank'><img src="assets/images/linkedinlogo.png" style='width:3em;margin-right:10%;border-radius:4em'/></a>
      <br><br>
      <div style='margin-right:10%'>
        (248) 877 - 1242
      </div>
    </center>
    </div>
  <div class="main-container">
    <div class="navbars2">

      <center>

        {{#link-to 'about'}}
        <div class="navs">
            About Me
        </div>
        {{/link-to}}

        {{#link-to 'resume'}}
        <div class="navs">
            Resume
        </div>
        {{/link-to}}

        {{#link-to 'projects'}}
        <div class="navs">
            Projects
        </div>
        {{/link-to}}
      </center>
    </div>
      {{outlet}}
  </div>
