  <div class="navbars1">
    <h1 style='font-family:fantasy'>DOUG BENNETT</h1>
    <<h2 style='font-family:Orbitron'>Full Stack Developer</h2>
  </div>
  <div class="main-container">
    <div class="navbars2">

      <center>
        {{#link-to 'about'}}
        <div class="navs">
            About Me
        </div>
        {{/link-to}}

        {{#link-to 'resume'}}
        <div class="navs">
            Resume
        </div>
        {{/link-to}}

        {{#link-to 'projects'}}
        <div class="navs">
            Projects
        </div>
        {{/link-to}}
      </center>
    </div>
      {{outlet}}
  </div>
