<div class="navbars1" style='border-right:1px solid rgba(0, 160, 253,.1)'>
  <div class="headings" style='height:20%;width:95%;vertical-align:middle'>
    <div class='heading-text heading-name'>DOUG BENNETT</div>
    <div class='heading-text heading-title'>Software Developer</div>
  </div>
  <div class="other">

    <img src="assets/images/rsz_doug.jpg" alt="Doug" class='pics'/>
    <br><br>

    <div class='links'>
      <center>
        <a href="mailto:dben89x@gmail.com?Subject=I%20want%20to%20hire%20you"><img src="assets/images/email.png" style='width:3em;margin-right:10%'/></a>
        <a href="http://github.com/dben89x"target='_blank'><img src="assets/images/github.png" style='width:3em;margin-right:10%'/></a>
        <a href="http://linkedin.com/in/dougBennett1" target='_blank'><img src="assets/images/linkedinlogo.png" style='width:3em;margin-right:10%;border-radius:4em'/></a>
        <br><br>
        <div class='email-and-phone'>
          dben89x@gmail.com
          (248) 877 - 1242
        </div>
      </center>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="navbars2">

    <center>

      {{#link-to 'about'}}
      <div class="navs">
          About Me
      </div>
      {{/link-to}}

      {{#link-to 'resume'}}
      <div class="navs">
          Resume
      </div>
      {{/link-to}}

      {{#link-to 'projects'}}
      <div class="navs">
          Projects
      </div>
      {{/link-to}}
    </center>
  </div>
    {{outlet}}
</div>
