<div class="project-image">
  <h2>gCamp</h2>
  <a href="http://gcamp-app.herokuapp.com/" target='_blank'><img src="assets/images/gcamp.png" alt="Doug"style='width:15em'/></a>
</div>
<div class="project-description">
  A Rails project management app similar to BaseCamp
  <br><br>Users can:
  <li>CRUD projects and CRUD tasks within projects</li>
  <li>Comment on tasks</li>
  <li>Manage memberships for projects, with different levels of authorization</li>
  <li>Filters visible information based on authorization</li>
  <li>Link to Pivotal Tracker API</li><br>
  Log in as "d@b.com" with password "1234" for administrative rights to full project
</div>

<hr style='width:100%;'>
<div class="project-image">
  <h2>Spot</h2>
  <a href="http://spot1.herokuapp.com/" target='_blank'><img src="assets/images/spot.png" alt="Doug"style='width:15em'/></a>
</div>
<div class="project-description">
  A social Rails app for creating events and inviting friends to those events
  <br><br>Users can:
  <li>Create events at existing or new places (becoming that place's original "Spotter")</li>
  <li>See place's location on Google Maps</li>
  <li>Categorize places based on mood</li>
  <li>See a list of events that friends are involved in</li>
  <li>Give updates on different aspects of a place's current experience</li><br>
  Log in as "d@b.com" with password "1234" for administrative rights to full project
</div>

<hr style='width:100%;'>
<div class="project-image">
  <h2>Rantly</h2>
  <a href="http://markdown-editor-app.herokuapp.com/" target='_blank'><img src='assets/images/rantly.png' style='width:15em'></a>
</div>
<div class="project-description">
  AngularJS app with a Rails API where one can "rant" about whatever he or she wishes
</div>

<hr style='width:100%;'>
<div class="project-image">
  <h2>Markdown Editor</h2>
  <a href="http://markdown-editor-app.herokuapp.com/" target='_blank'><img src='assets/images/markstuff.png' style='width:15em'></a>
</div>
<div class="project-description">
  A simple EmberJS app that converts user markdown input into markup output
</div>

<hr style='width:100%;'>
<div class="project-image">
  <h2>Notes</h2>
  <a href="http://markdown-editor-app.herokuapp.com/" target='_blank'><img src='assets/images/notes.png' style='width:15em'></a>
</div>
<div class="project-description">
  A simple EmberJS app that allows users to create and delete notes
</div>

<hr style='width:100%;'>
