<div class="">
	<strong style='font-size:1.4em'>Technical Skills</strong>
	<hr>
	<br>
	<div style='padding-left:2em'>
		Languages
		<hr style='margin-right:20em'>
		<ul>
			<li>Ruby</li>
			<li>JavaScript</li>
			<li>Java</li>
			<li>PL/SQL</li>
			<li>Visual Basic</li>
		</ul>

		Frameworks
		<hr style='margin-right:20em'>
		<ul>
			<li>Ruby on Rails</li>
			<li>AngularJS</li>
			<li>EmberJS</li>
		</ul>
	</div><br>

	<strong style='font-size:1.4em'>Work Experience</strong>
	<hr>
	<br>
	<div style='padding-left:2em'>

		July 2012 — August 2014
		<hr style='margin-right:20em'>
		<p style='font-size:1.2em'>Painter and Lift Operator</p>
		<em style='padding:1em'>Liberty Painting</em>
		<br>

		<br>
		<br>
		December 2011 — May 2012
		<hr style='margin-right:20em'>
		<p style='font-size:1.2em'>Foundry Worker and Laser Programmer / Operator</p>
		<em style='padding:1em'>Experi-Metal</em>
		<br>

		<br><br>
		May 2008 — September 2011
		<hr style='margin-right:20em'>
		<p style='font-size:1.2em'>Branch Manager</p>
		<em style='padding:1em'>Student Painters</em>
		<br>
	</div>

	<br><br>
	<strong style='font-size:1.4em'>Education</strong>

	<hr>
	<br>
	<div style='padding-left:2em'>
		October 2014 — Present
		<hr style='margin-right:20em'>
		<p style='font-size:1.2em'>
		gSchool
		</p>
		<p style='padding-left:2em'>
			Full-Stack Web Development
		</p>
		<br>
		May 2013 — August 2014
		<hr style='margin-right:20em'>
		<p style='font-size:1.2em'>
			Oakland Community College
		</p>
		<p style='padding-left:2em'>
			Computer Science (Some coursework completed)
		</p>
		<br>
	</div>
</div>
