<div class="route-containers" style='padding-left:20%'>
<a href="assets/files/Resume.pdf" target='_blank'><img src="assets/images/pdf-icon.png" style='width:3em' alt=""/></a><br><br>
	<strong style='font-size:1.4em;color:rgb(0, 145, 145)'>Technical Skills</strong>
	<hr>
	<br>

	<div style='padding-left:2em'>
		Languages
		<hr style='margin-right:35%'>
		<ul style='width:58%'>
			<div style='float:left'>- Ruby</div>
			<div style='float:right;color:rgb(0, 255, 255)'>
				||||||||||
			</div><br>
			<div style='float:left'>- Java</div>
			<div style='float:right;color:rgb(0, 255, 255);text-align:right'>
				|||||||||
			</div><br>
			<div style='float:left'>- HTML/CSS</div>
			<div style='float:right;color:rgb(0, 255, 255)'>
				|||||||
			</div><br>
			<div style='float:left'>- JavaScript</div>
			<div style='float:right;color:rgb(0, 255, 255)'>
				||||||
			</div><br>
			<div style='float:left'>- PL/SQL</div>
			<div style='float:right;color:#f5a61b'>
				|||||
			</div><br>
			<div style='float:left'>- Visual Basic</div>
			<div style='float:right;color:#f5a61b'>
				||||
			</div><br>
		</ul>


		<div style='display:inline-block;width:63.3%'>Frameworks
		<hr style='width:102.2%'>
		<ul>
			<div style='float:left'>- Ruby on Rails</div>
			<div style='float:right;color:rgb(0, 255, 255)'>
				||||||||||
			</div><br>

			<div style='float:left'>- AngularJS</div>
			<div style='float:right;color:rgb(0, 255, 255)'>
				||||||
			</div><br>

			<div style='float:left'>- EmberJS</div>
			<div style='float:right;color:#f5a61b'>
				||||
			</div><br>
		</ul>
		</div>
	</div><br>

	<div style='font-size:1.4em;color:rgb(0, 145, 145);display:inline-block'>Work Experience</div>
	<hr>
	<br>
	<div style='padding-left:2em'>

		July 2012 — August 2014
		<hr style='margin-right:35%'>
		<p style='font-size:1.2em'>Painter and Boom Lift Operator</p>
		<em style='padding:1em'>Liberty Painting</em>
		<br>

		<br>
		<br>
		December 2011 — May 2012
		<hr style='margin-right:35%'>
		<p style='font-size:1.2em'>Foundry Worker and Laser Programmer / Operator</p>
		<em style='padding:1em'>Experi-Metal</em>
		<br>

		<br><br>
		May 2008 — September 2011
		<hr style='margin-right:35%'>
		<p style='font-size:1.2em'>Branch Manager</p>
		<em style='padding:1em'>Student Painters</em>
		<br>
	</div>

	<br><br>
	<strong style='font-size:1.4em;color:rgb(0, 145, 145)'>Education</strong>

	<hr>
	<br>
	<div style='padding-left:2em'>
		October 2014 — Present
		<hr style='margin-right:35%'>
		<p style='font-size:1.2em'>
		gSchool
		</p>
		<p style='padding-left:2em'>
			Full-Stack Web Development
		</p>
		<br>
		May 2013 — August 2014
		<hr style='margin-right:35%'>
		<p style='font-size:1.2em'>
			Oakland Community College
		</p>
		<p style='padding-left:2em'>
			Computer Science (Some coursework completed)
		</p>
		<br>
	</div>

	<strong style='font-size:1.4em;color:rgb(0, 145, 145)'>Leadership</strong>
	<hr>
	<div style='padding-left:2em'>
		<p style='font-size:1.2em'>
			Eagle Scout
		</p>
	</div>
</div>
